extends layout

block content
    h1= title

 
    p Welcome to the clubhouse #{currentUser.username}

    a(href="/clubhouse/create_message") New message

    if messages 
        each message in messages
            div 
                h5 #{message.member.username}
                p #{message.message}
    else    
        p No messages
