extends layout

block content
    h1= title

 
    p Welcome to the clubhouse #{currentUser.username}

    if currentUser.club_member
        a(href="/clubhouse/create_message") New message
    else 
        a(href="/clubhouse/join_club") Join the club

    if messages 
        each message in messages
            div 
                if currentUser.club_member
                    h5 #{message.member.username}
                p #{message.message}
    else    
        p No messages
