extends layout

block content
  h1= title
  p Enter the clubhouse to see the posts
  p Create an account to be able to write a message
  p And join the club to see who posts what!
  p Admins can delete posts


  a#clubhouse.button(href="/clubhouse") Enter clubhouse
