doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    div#log-nav
      if(!currentUser)
        a.button(href="/create_account") Create account
        a.button(href="/login") Login
      else
        a.button(href="/logout") Log out

    div#content
      block content
