extends layout 

block content 

    a(href="/clubhouse") Go to clubhouse

    h1 #{title}

    form(method="POST" action="")
        div
            div
                input(type="text" placeholder="Username" name="username")
            div    
                input(type="password" placeholder="Password" name="password")
        button.button(type="submit") Log In

    if errors 
        ul
            for error in errors
                li!= error.msg