extends layout 

block content 
    h1 #{title}

    form(method="POST" action="")
        div
            input(type="text" placeholder="Username" name="username")
            if exists   
                p!= exists
            input(type="password" placeholder="Password" name="password")
            input(type="password" placeholder="Confirm password" name="confirmpassword")
        button(type="submit") Submit

    if errors 
        ul
            for error in errors
                li!= error.msg