body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:  black;
  color: aqua;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#log-nav > a {
  float: right;
  padding: 10px;
  margin-right: 3px;
  border-radius: 5px;
}

.message-container {
  position: relative;
  padding: 10px 25px;
  margin: 0;
  text-align: center;
}


.message-body {
  position: relative;
  padding: 0;
  display: inline-block;
  width: 450px;
  border: 5px solid yellowgreen;
  border-radius: 30px 70px;
  transform: rotate(1deg);
  overflow: hidden;
}

.message-body:hover {
  transform: rotate(-1deg);
}

@media only screen and (max-width: 600px) {
  
  .message-body {
    width: 350px;
  }

}

.message-body > h5 {
  margin: 0;
  border-radius: 5px 5px 0 0;
  background-color: #79589f;
  padding: 10px 5px;
  font-size: larger;
}
.message-body > p {
  margin: 0;
  color: white;
  background-color: blueviolet;
  padding: 10px 20px;
  overflow: auto;
}

#join-club {
  margin-bottom: 35px;
}

.new-message {
  margin-left: 30px;
}

#clubhouse {
  padding: 10px 55px;
  color: white;
}

#new-message {
  text-align: center;
  padding: 10px;
}

#message {
  padding: 10px;
  color: white;
  background-color: blueviolet;
}

#message:focus {
  color: black;
  background-color: white;
}

.button {
  color: white;
  border: none;
  background-color: blueviolet;
  margin-top: 3px;
  padding: 10px 5px;
  border-radius: 5px;
}

form {
  margin: auto;
  width: 50%;
  text-align: center;
}

.del-btn {
  position: absolute;
  top: 20px;
  z-index: 1;
  padding: 2px;
  border-radius: 50%;
  background-color: #dd2213;
  color: white;
}